<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS</a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul>
                <li><a class="navbar-brand" href="/">Home</a></li>
                <li><a class="navbar-brand" href="/about">Sobre</a></li>
            </ul>
        </nav>
    </nav>
    <!-- SE NAS PAGINAS index.ejs OU about.ejs NAO FOR PASSADO O OBJETO pagina ESS PARTE header.ejs IRÁ PASSAR Home -->
    <p>Página: <%= typeof pagina != 'undefined' ? pagina : 'Sobre' %></p>

</header>